@{
    ViewBag.Title = "About Us";
   
}
<h2 class="page-header">@ViewBag.Title</h2>


<blockquote>
    Our goal at Ask The RMs&trade;. Is to provide prospective Elders in The Church of Jesus Christ of Latter-Days Saints the opportunity to prepare for their missions.
    From purchasing the resources they need to contacting returned missionaries from missions all over the world, we have everything a future missionary might need.
    Our services are free to help our users save up for their missions.
</blockquote>
