@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <a class="jumboLink" style="text-decoration:none;" href=@Url.Action(" action", "Controller" )>
            <div style="max-height:250px;width:auto;" class="jumbotron">

                <h1 class="jumboLink" id="website">Ask The RMs <span>(They can help)</span></h1>

                <input type="button" class="btn btn-primary" value="Learn More" onclick="location.href='@Url.Action(" action", "Controller" ) '" />

            </div>
        </a>
    </div>

<div class="row">
    <h2 class="page-header">Purchase Resources</h2>

    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">

        <a id="plus" href="https://ldsbookstore.com/preach-my-gospel-a-guide-to-missionary-service?feed=Froogle&gclid=CjwKEAjwy8bABRD5osXMovTHpmQSJACfZY0FMpBtKzirXj4vPMiKkDi_vaSVtu-TTf5bOiAznZmtQRoCt3Tw_wcB">
            <img src="http://www.ldswomenofgod.com/blog/wp-content/uploads/2013/01/Preach-My-Gospel.jpg">
        </a>

    </div>
    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <abbr title="Missionary Handbook">
            <a href="https://store.lds.org/webapp/wcs/stores/servlet/Product3_715839595_10557__-1__195586?langId=-1&catalogId=10557&storeId=715839595&krypto=oqxvu8fs5KKfbII36P8HmLhMUK4kYxbQ6c%2FavL%2F6ace%2B0Fi5Qv7norll2iUTy69BRpBJa4YyTbc3aAH7Kqhw3bTG4L4EQuZl9T%2BCOgIu622X1qSMg%2FqLxtwNIXdMDDD3msrZG7cYtXBUfPLHP89LReDOpg81lQ69VcJP0J3VZ0IZEjpONgtoO9JLVLv4neCRzQgh8wYb0FEhCKvkV7Zdkg%3D%3D&ddkey=https:SetCurrencyPreference">
                <img src="http://www.mormonmissionprep.com/wp-content/uploads/2013/06/Missionary-Handbook.jpg" />
            </a>
        </abbr>
    </div>

    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
        <abbr title="Scriptures">
            <a href="https://ldsbookstore.com/button-snap-regular-quad?feed=Froogle&gclid=CjwKEAjwy8bABRD5osXMovTHpmQSJACfZY0FE3fybyWUiDKxM1LW2VM9F0rF0qVF8cCYVCpglEBohRoCHenw_wcB">
                <img src="http://www.mormonnewsroom.org/media/480x640/book-of-mormon.jpg" />
            </a>
        </abbr>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <h2 class="page-header">A Day In the Life of a Missionary</h2>
        <div class="container">
            <div class="video-player">
                <div class="video-player__playing">
                    <div class="embed-container">
                        <div id="player"></div>
                    </div>
                </div>
                <div class="video-player__thumbs">
                    <div data-video="CMw_38wWMw0" class="video-thumb active"><img src="https://i.ytimg.com/vi/CMw_38wWMw0/hqdefault.jpg?custom=true&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=_9rEhHF5QbJosphRgjUsLf5Rj8E"></div>
                    <div data-video="mBsHAJ6U6Mw" class="video-thumb "><img src="https://i.ytimg.com/vi/mBsHAJ6U6Mw/hqdefault.jpg?custom=true&amp;&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=9FVqt-mMygHWTMAofOxwPuvBG5Q"></div>
                    <div data-video="vTzOWKYNkt8" class="video-thumb"><img src="https://i.ytimg.com/vi/vTzOWKYNkt8/hqdefault.jpg?custom=true&amp;&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=DFaMzJGwtpjLIia6JsYNpd8GrrM"></div>
                    <div data-video="sgTPh8a-byc" class="video-thumb"><img src="https://i.ytimg.com/vi/sgTPh8a-byc/hqdefault.jpg?custom=true&&amp;jpg444=true&amp;jpgq=90&amp;sp=68&amp;sigh=CK64FvJd5soH66gHeD-UdAq9xls"></div>
                </div>
            </div>
        </div>
    </div>
</div>




